<a href="https://colab.research.google.com/github/AnitaKirkovska/20-newsgroups_text-classification/blob/master/FeatureEngineering/KaggleStudentsPerformanceonExams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalations and import of data

In [0]:
from google.colab import files

In [0]:
!pip install -q kaggle

In [0]:
uploaded = files.upload()

Saving StudentsPerformance.csv to StudentsPerformance.csv

In [0]:
%ls

sample_data/  StudentsPerformance.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

# Analysing the data

In [0]:
data = pd.read_csv('StudentsPerformance.csv')

In [0]:
#data.head()
#data.columns
#data.info()

In [0]:
#there were no duplicates
data = data.drop_duplicates()

In [0]:
#check for null values in the data
for col in data:
    print(sum(pd.isnull(data[col])), col)

0 gender
0 race/ethnicity
0 parental level of education
0 lunch
0 test preparation course
0 math score
0 reading score
0 writing score

In [0]:
#to remove null values in gender if there were some
data = data.drop(data.loc[data['gender'].isnull()].index)

In [0]:
data

     gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]

# Analysing columns

In [0]:
data['gender'].unique()

array(['female', 'male'], dtype=object)